**Variables & Data Types**

In [44]:
# Numbers
x = 10          # integer
print(x)
y = 3.14        # float
x = 20          # auto updates
print(x)
z= x + y
print(z)
z = int(z)
print(z)
print()

# Text
name = "Anni"   # string
len(name)       # length
print(name[0])  # Access first character
print(len(name) )
print(name.lower())
print(name.upper())
print(name.replace("A","O"))
print()

# Boolean
is_intern = True

10
20
23.14
23

A
4
anni
ANNI
Onni

**Lists & Dictionaries**

In [39]:
#lists-ordered collections

fruits = ["apple", "banana", "mango"]
print(fruits[0])      # Access first item
fruits.append("orange")  # Add an item
print(fruits)
print(fruits[1:3])    # Slicing: ['banana', 'mango']
print()

cars = ["BMW", "RR", "LAMBORGINI"]
print(cars[0])
cars.append("Ferarri")
print(cars)
print(cars[0:2])       #this works for single word string as well
print(cars[1:3])       #like- a=hello >>>(a[1:3]) >>>el
print(cars[:])
print(cars[1:])
print(cars[-3:-1])
print()

a = [5, 3, 6, 9, 1]
print(a)
print(sorted(a))
print(sorted(a, reverse= True))
print()
b = [7, 5, 8, 4, 1]
print(b)
b.sort()
print(b)
b.reverse()
print(b)
print()


#Dictionaries â€“ key-value pairs

student = {"name": "Anni", "age": 22, "department": "Web-ML"}
print(student["name"])   # Access value by key
student["age"] = 25      # Update value
student["grade"] = "A"   # Add a new key-value pair
print(student)
print()

task = {"type": "Python basics", 'week': 1, "day": 1, "done": False}
print(task["type"])
task["done"] = True
print(task)
print()

apple
['apple', 'banana', 'mango', 'orange']
['banana', 'mango']

BMW
['BMW', 'RR', 'LAMBORGINI', 'Ferarri']
['BMW', 'RR']
['RR', 'LAMBORGINI']
['BMW', 'RR', 'LAMBORGINI', 'Ferarri']
['RR', 'LAMBORGINI', 'Ferarri']
['RR', 'LAMBORGINI']

[5, 3, 6, 9, 1]
[1, 3, 5, 6, 9]
[9, 6, 5, 3, 1]

[7, 5, 8, 4, 1]
[1, 4, 5, 7, 8]
[8, 7, 5, 4, 1]

Anni
{'name': 'Anni', 'age': 25, 'department': 'Web-ML', 'grade': 'A'}

Python basics
{'type': 'Python basics', 'week': 1, 'day': 1, 'done': True}

**Loops & Functions**

In [35]:
#For loop

for fruit in fruits:
    print(fruit)
print()

for car in cars:
    print(car)
print()

#While loop

count = 0
while count < 5:
    print(count)
    count += 1
print()

i = 0
while i < 3:
    print(i)
    i += 1
print()

#Functions

def greet(name):
    return f"Hello, {name}!"

print(greet("Anni"))
print(greet("Akhi"))
print()

apple
banana
mango
orange

BMW
RR
LAMBORGINI
Ferarri

0
1
2
3
4

0
1
2

Hello, Anni!
Hello, Akhi!